this is the example env file for project frontend

//.env.local:


WLD_CLIENT_ID=app_staging_njaknsjkanckjsankjscnakj
WLD_CLIENT_SECRET=sk_5d8ee6aasnhjakcbnjksabckjbaskjcbkajs

NEXT_PUBLIC_PINATA_API_KEY=b2374812789321
NEXT_PUBLIC_PINATA_SECRET_API_KEY=72108371280734892719edj12bkjdb1jb2kdb12kj